:root {
    --bc: orange;
    --header: navy;
}

* {
    box-sizing: border-box;
    background-color: lightskyblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    background-color: var(--header);
    text-align: center;
    height: 150px;
    width: 100%;
}

.header-title {
    background-color: var(--header);
    color: white;
    padding-top: 15px;
}

section {
    display: flex;
}

div {
    border: solid 2px white;
    background-color: var(--bc);
    margin: 10px;
    height: 450px;
    text-align: center;
    position: relative;
}

h1 {
    background-color: var(--bc);
    margin-top: 0;
}

h2 {
    background-color: var(--bc);
}

button {
    font-size: large;
    font-weight: bold;
    /* space between divs */
    margin-top: 10px;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
}

button:hover {
    color: blue;
    border-color: blue;
}


.timer {
    background-color: var(--bc);
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
}

.quiz {
    width: 50%;
}

.questions-container {
    height: 320px;
    padding: 20px;
    text-align: center;
}

#question-box {
    justify-content: center;
}

.finish {
    height: 220px;
    margin: 25px;
    display: none;
}

.log-page{
    margin-bottom: 40px;
    position: relative;
    width: 50%;
}

.log-page p {
    background-color: var(--bc);
    font-size: larger;
}

.log {
    background-color: var(--bc);
    height: 150px;
    margin: 25px;
    background-color: var(--bc);
}

h4 {
    align-items: center;
    background-color: var(--bc);
}